@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url(../assets/fonts/TitilliumWeb-Bold/TitilliumWeb-Bold.ttf)
}

@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url(../assets/fonts/TitilliumWeb-SemiBold/TitilliumWeb-SemiBold.ttf)
}

@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url(../assets/fonts/TitilliumWeb-Regular/TitilliumWeb-Regular.ttf)
}

@font-face {
  font-family: "MalagaOTRegItalic";
  src: url(../assets/fonts/MalagaOTRegItalic/MalagaOTRegItalic.otf)
}

@font-face {
  font-family: 'fontello';
  src: url('../assets/fonts/favicon/fontello.eot'),
    url('../assets/fonts/favicon/fontello.woff2') format('woff2'),
    url('../assets/fonts/favicon/fontello.woff') format('woff'),
    url('../assets/fonts/favicon/fontello.ttf') format('truetype'),
    url('../assets/fonts/favicon/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
  content: '\e800';
}

.icon-gplus:before {
  content: '\f0d5';
}

.icon-upload-cloud:before {
  content: '\f0ee';
}

.icon-dollar:before {
  content: '\f155';
}

.icon-apple:before {
  content: '\f179';
}

.icon-twitter-squared:before {
  content: '\f304';
}

.icon-facebook-squared:before {
  content: '\f308';
}

body {
  padding: 0 15px;
  font-family: "TitilliumWeb-Regular", sans-serif;
  font-size: 16px;
  color: #6f6f6f;
  background: url('../assets/img/background-top.jpg') no-repeat 50% 222px,
              url('../assets/img/divice.png') no-repeat 1004px 1559px,
              linear-gradient(353.7deg, rgba(255, 255, 255, 1) 35.4%, rgba(239, 239, 239, 0.5) 43.4%, rgba(255, 255, 255, 1) 43.4%);
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 78px;
}

.logo {
  font-family: "TitilliumWeb-Bold", sans-serif;
  font-size: 1.875rem;
  color: #858688;
}

.logo h1 {
  line-height: 2rem
}

.logo--purple {
  color: #5b4295;
}

.language {
  margin-top: 23px;
  padding-left: 3px;
}

.language-row {
  display: flex;
}

.language__item {
  position: relative;
  font-size: 0.875rem;
  color: #959595;

}

.language__item a {
  color: #959595;
}

.language__item a:hover {
  text-shadow: 0 0 .8px #959595, 0 0 .8px #959595, 0 0 .8px #959595;
}

.language__item a:hover:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  border-bottom: 1px solid #959595;
}

.language__item:nth-child(n + 2) {
  margin-left: 26px;
}

.language__item:nth-of-type(n + 2)::before {
  content: "/";
  display: block;
  position: absolute;
  left: -15px;
}

.navigation {
  flex-grow: 1;
  padding-right: 47px;
}

.navigation__row {
  display: flex;
  justify-content: flex-end;
}

.navigation__item a {
  display: block;
  padding: 10px 13px;
  letter-spacing: 0.003rem;
  color: #454545;
}

.navigation__item a:hover {
  text-shadow: 0 0 .8px #959595, 0 0 .8px #959595, 0 0 .8px #959595;
  transition-duration: 0.2s;
}

.login {
  width: 94px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0 0 5px 0;
  margin-right: 7px;
  background: none;
  font-family: "TitilliumWeb-Bold", sans-serif;
  word-spacing: 0.15rem;
}

.login i {
  color: #582c7e;
  margin-right: 5px;
}

.login:hover {
  border-radius: 25px;
  box-shadow: 0 10px 18px 1px #6274cacc;
}

.login:active {
  box-shadow: 0 7px 18px 2px #6274ca;
}

.signup {
  width: 94px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding-bottom: 5px;

  font-family: "TitilliumWeb-Bold", sans-serif;
  word-spacing: 0.15rem;
  background: linear-gradient(352deg, rgba(98, 118, 205, 1) 0%, rgba(88, 44, 126, 1) 73%);
  box-shadow: 0 10px 18px 1px #6274cacc;
  color: white;
}

.signup:hover {
  background: linear-gradient(352deg, rgba(112, 133, 224, 0.9) 0%, rgba(88, 44, 126, 0.9) 73%);
  color: black;
}

.signup:active {
  box-shadow: 0 7px 18px 2px #6274ca;
}



/*----------------- main --------------------*/
.main-top {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 167px;

}

.main-top__title {
  font-family: "TitilliumWeb-SemiBold", sans-serif;
  text-align: center;
  font-size: 3.75rem;
  letter-spacing: 0.046rem;
}

.main-top__subtitle {
  margin-top: 17px;
  font-size: 2.25rem;
}

.main-top__subtitle span {
  color: #fc2028;
}

.source {
  margin-top: 75px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 385px;
}

.source::before {
  content: '';
  display: block;
  position: absolute;
  left: -130px;
  top: 23px;
  width: 602px;
  height: 57px;
  background: url(../assets/img/gradient.png) no-repeat;
  z-index: 1;
}

.btn {
  height: 56px;
  width: 246px;
  border: none;
  border-radius: 45px;
  padding-bottom: 5px;

  font-family: "TitilliumWeb-Bold", sans-serif;
  font-size: 1.125rem;
  background: linear-gradient(132deg, rgba(100, 108, 146, 1) 39%, rgba(95, 46, 105, 1) 74%);
  box-shadow: 0 5px 10px 5px #2e3e91aa;
  color: white;
  z-index: 10;
}

.store-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: #714982;
  color: white;
  font-size: 22px;
  z-index: 10;
}

.sotial-wrapper {
  position: absolute;
  right: 60px;
  top: 176px;
}

.sotial {
  width: 40px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sotial__item--google {
  display: flex;
  align-items: center;
  font-size: 11px;
  width: 19px;
  height: 19px;
  border-radius: 3px;
  background-color: #676766;
  color: white;
}

.sotial__item--google:hover {
  background-color: #dc5443;
  transition-duration: 0.2s;
}

.sotial__item {
  display: block;
  font-size: 22px;
  color: #676766;
}

.sotial li:nth-child(2):hover a {
  color: #35609f;
}

.sotial li:nth-child(3):hover a {
  color: #2daae1;
}

.about {
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  margin: 357px auto 0;
  width: 1320px;

}

.about__item {
  position: relative;
  width: 365px;
}

.about__title {
  padding-left: 60px;
  font-size: 1.875rem;
  letter-spacing: 0.025rem;
}

.about__item:nth-child(1)::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(../assets/img/privacy.png) no-repeat -12px -8px;
}

.about__item:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(../assets/img/lock.png) no-repeat -25px -16px;
}

.about__item:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  right: -30px;
  top: -130px;
  height: 210px;
  border-left: 1px solid #b0b0b0;
}

.about__item:nth-child(3)::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(../assets/img/key.png) no-repeat -15px -5px;
}

.about__item:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  right: -25px;
  top: 2px;
  height: 434px;
  border-left: 1px solid #b0b0b0;
}

.about__item:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  left: 413px;
  top: 2px;
  width: 1000px;
  border-top: 1px solid #b0b0b0;

}

.about__subtitle {
  margin-top: 3px;
  padding-left: 60px;
  font-size: 1.125rem;
  letter-spacing: 0.02rem;
}

.about__text {
  margin-top: 30px;
  line-height: 1.41rem;
  font-size: 0.875rem;
}

.security__container {
  max-width: 840px;
  margin: 120px auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.security__title {
  font-size: 3.75rem;
  color: #535353;
  letter-spacing: 0.025rem;
  margin-right: 216px;

}

.security__subtitle {
  font-size: 1.5rem;
  color: #959393;
  letter-spacing: 0.015rem;
  text-align: right;
  margin-top: 15px;
  margin-right: 216px;

}

.security__subtitle--red {
  color: #f65151;
}

.security__more-about {
  display: block;
  position: relative;
  margin-right: 13px;
  margin-top: 24px;
  text-align: center;
  width: 334px;
  height: 62px;
  border: 1px solid #959393;
  border-radius: 35px;
  line-height: 57px;
  letter-spacing: 0.02rem;
  color: #959393;
}

.security__more-about::before {
  content: "";
  display: block;
  position: absolute;
  right: 333px;
  top: 29px;
  width: 10000px;
  border-top: 1px solid #b0b0b0;
}

.security__more-about:hover {
  color: #fff;
  background-color: #959393;
  transition-duration: 0.2s;
}

.security__more-about:active {
  color: #000;
}

.security__partners {
  margin-top: 40px;
  margin-left: 58px;
}

.slider-wrap {
  position: relative;
  box-sizing: content-box;
  margin: 57px auto 0;
  width: 542px;
  height: 250px;
  padding-right: 24%;
  letter-spacing: 0.015rem;
}

.slider-wrap input {
  display: none;
}

.slider__item {
  position: absolute;
  line-height: 1.95rem;
  left: 0;
  top: 0;
  width: 542px;
  font-size: 1.5rem;
  font-family: "MalagaOTRegItalic", sans-serif;
  color: #101010;
  z-index: 0;
  opacity: 0;
}

.slider__author {
  font-size: 1rem;
  color: #727272;
  margin-top: 2px;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  width: 15px;
  position: absolute;
  top: 7px;
  left: -41px;
}

.control__item {
  cursor: pointer;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #b7b7b7;
}

#point1:checked~.control .control__item:nth-of-type(1),
#point2:checked~.control .control__item:nth-of-type(2),
#point3:checked~.control .control__item:nth-of-type(3) {
  width: 13px;
  height: 13px;
  background: #000;
}

#point1:checked~.slider .slider__item:nth-of-type(1),
#point2:checked~.slider .slider__item:nth-of-type(2),
#point3:checked~.slider .slider__item:nth-of-type(3) {
  z-index: 1;
  opacity: 1;
}

.device {
  box-sizing: content-box;
  display: flex;
  margin: 18px auto 0;
  padding-right: 49px;
  flex-direction: column;
  align-items: flex-end;
  max-width: 465px;
}

.device__title {
  font-size: 2.25rem;
  color: #535353;
  letter-spacing: 0.015rem;
}

.device__text {
  margin-top: 17px;
  padding-right: 5px;
  color: #959393;
  font-size: 1rem;
  text-align: right;
  line-height: 1.4rem;
  letter-spacing: 0.01rem;
}

.device__download {
  display: flex;
  margin-top: 30px;
}

.device__download li:nth-of-type(1) {
  margin-right: 13px;
}

.device__link img {
  display: block;
  border-radius: 6px;
}

.device__link:hover img {
  opacity: 0.8;
}

.support-us {
  position: relative;
  margin-top: 238px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-us::before {
  content: "";
  display: block;
  position: absolute;
  left: 23.4%;
  top: -75px;
  width: 2000px;
  border-top: 1px solid #b0b0b0;
  z-index: 1;
}

.support-us__title {
  font-size: 2.25rem;
  color: #535353;
  letter-spacing: 0.02rem;
}

.support-us__subtitle {
  margin-top: 7px;
  font-size: 1.8125rem;
  color: #7c7c7c;
  letter-spacing: 0.012rem;
}

.support-us__form {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
  width: 465px;
}

.support-us__upgrade {
  box-shadow: 0px 5px 15px 2px #2e3e91aa;
  letter-spacing: 0.03rem;
}

.support-us__donate {
  width: 166px;
  background: linear-gradient(132deg, rgba(54, 186, 225, 1) 15%, rgba(94, 123, 234, 1) 85%);
  box-shadow: 0 5px 15px 1px #55a1a9;
}

.support-us__donate i {
  margin-left: -5px;
}

.partners {
  position: relative;
  width: 78.8%;
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.partners::before {
  content: "";
  display: block;
  position: absolute;
  right: 39px;
  top: -21px;
  width: 2000px;
  border-top: 1px solid #b0b0b0;
}

.partners::after {
  content: "";
  display: block;
  position: absolute;
  right: 39px;
  top: -20px;
  height: 440px;
  border-left: 1px solid #b0b0b0;
}

.partners__text {
  margin-right: 60px;
  font-size: 0.9rem;
}

.partners__img {
  margin-top: 1px;
}

.contact {
  margin-top: 155px;
  margin-left: 12.65%;
  display: flex;
  width: 62.68%;
  font-size: 0.875rem;
  color: #5c5c5c;
  justify-content: flex-end;
  letter-spacing: 0.011rem;
}

.contact__email {
  position: relative;
  justify-self: flex-start;
  flex-grow: 1;
  padding-left: 20px;
}

.contact__column:nth-of-type(3) {
  margin-right: 94px;
}

.contact__column:nth-of-type(2) {
  margin-right: 114px;
  position: relative;
}

.contact__column:nth-of-type(2)::after {
  content: "";
  display: block;
  position: absolute;
  right: -27px;
  top: 4px;
  height: 316px;
  border-left: 1px solid #b0b0b0;
}

.email__item,
.contact__support a {
  font-family: "TitilliumWeb-Bold", sans-serif;
  color: #5c5c5c;
}

.contact__support a {
  text-decoration: underline;
}

.email__item {
  line-height: 1.45rem;
}

.contact__support {
  margin-top: 23px;
  line-height: 1.45rem;
}

.contact__email::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 8px;
  height: 131px;
  border-left: 1px solid #b0b0b0;
}

.contact__title {
  font-size: 1.125rem;
  font-family: "TitilliumWeb-Bold", sans-serif;
  margin: 5px 0 26px;
  text-align: right;
}

.contact__item {
  display: block;
  color: #5c5c5c;
  padding-right: 12px;
  position: relative;
  text-align: right;
  line-height: 1.44rem;
}

.contact__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  background: #5c5c5c;
  right: 1px;
  top: 11px;
  border-radius: 1px;
}
.footer {
  font-size: 0.75rem;
  color: #5c5c5c;
  margin-top: 79px;
  margin-left: 12.7%;
}
.footer-sotial {
  display: flex;
}
.footer-sotial__item {
  position: relative;
  text-decoration: underline;
  
  margin-right: 30px;
}
.footer-sotial__item a {
color: #5c5c5c;
}

.footer-sotial__item:nth-of-type(n + 2)::before {
  content: "/";
  display: block;
  position: absolute;
  left: -18px;
}
.footer__copyrite {
  margin-top: 19px;
}







@media screen and (max-width: 1600px) {
  body{
  background: url('../assets/img/background-top.jpg') no-repeat 50% 222px;
  }
}

@media screen and (max-width: 1350px) {
  .about {
    padding: 0;
    width: 100%;
  }

  .about__item:nth-child(1)::after,
  .about__item:nth-child(2)::after,
  .about__item:nth-child(3)::after {
    display: none;
  }

  .partners {
    width: 100%;
  }
  .contact {
    margin-left: 0;
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .sotial-wrapper {
    right: 30px;
    top: 276px;
  }

  .about {
    margin-top: 220px;
    flex-direction: column;
    align-items: center;
  }

  .about__item {
    margin-top: 50px;
  }

  .security__partners {
    margin-left: -15px;
  }
}

@media screen and (max-width: 1000px) {
  .partners {
    display: none;
  }
  .contact__column:nth-of-type(2)::after {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .header {
    padding-top: 15px;
    flex-wrap: wrap;
  }

  .navigation {
    order: 3;
    width: 100%;
    padding: 10px 0 0 0;
  }

  .navigation__row {
    justify-content: center;
  }

  .security__container {
    align-items: center;
  }

  .security__title {
    margin-right: 0;
    text-align: center;
  }

  .security__subtitle {
    margin-right: 0;
    width: 75%;
  }

  .security__more-about {
    align-self: flex-end;
  }

  .security__partners {
    display: none;
  }

  .slider-wrap {
    padding: 0;
    width: 80%;
  }

  .slider__item {
    font-size: 1rem;
    width: 100%;
    line-height: 1.5rem;
  }
  .contact {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact__email {
    flex-grow: 0;
  }
  .contact__column:nth-of-type(2),
  .contact__column:nth-of-type(3) {
    margin-right: 0;
  }

}

@media screen and (max-width: 750px) {
  .sotial-wrapper {
    display: none;
  }

  .device {
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .support-us__form {
    flex-direction: column;
    align-items: center;
  }

  .support-us__donate {
    margin-top: 20px;
  }
}

@media screen and (max-width: 470px) {
  .header {
    flex-direction: column;
  }

  .navigation__row {
    flex-direction: column;
  }

  .navigation__item a {
    padding-left: 0;
  }

  .login-form {
    margin-top: 25px;
  }

  .main-top {
    padding-top: 10px;
  }
}
